
.row {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}


.card {
  background-color: #ffffff; 
  border-radius: 12px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
  margin: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease; 
  opacity: 0; 
  animation: fadeIn 0.6s forwards; 
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}


.cardbody {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.cardtitle {
  font-size: 20px;
  font-weight: 700;
  color: #333333; 
  margin-bottom: 20px;
}

.card-info-container {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
}

.cardleads, .cardoverdue {
  flex: 1; 
  border: 1px solid #e6f7ff; 
  border-radius: 8px; 
  padding: 15px;
  background-color: #f7f9fc; 
}

.cardleads .cardleadstitle, .cardoverdue .cardoverduetitle {
  font-size: 16px;
  color: #666666; 
  font-weight: 500;
}

.cardleads .cardleadsvalue, .cardoverdue .cardoverduevalue {
  font-size: 18px;
  color: #1890ff; 
  font-weight: 600;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
  }
}
